img.logo {
    height: 15rem;
}

img.logo_small {
    height: 5rem;
}

/*@media (min-width: 992px) {
    #doc-nav {
        margin-left: -25px;
    }
}
    */
#doc-nav {
    margin-left: -25px;
}

.header .dev-links a {
    color: #000000;
    text-decoration: none;
}

.options {
    padding: 30px 15px 15px 15px;
    position: relative;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 15px;
}

.options::after {
    content: "Options";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
