<section class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
        <h1 class="mb-0 text-primary" id="documentation">
            Documentation
        </h1>
    </div>

    <div class="my-auto">
        <markdown file="translation.md"></markdown>
    </div>

    <div class="my-auto">
        <markdown file="compatibility.md"></markdown>
        <markdown file="compat-string.md"></markdown>
        <markdown file="compat-regex.md"></markdown>
    </div>
</section>