@{
    this.ViewData["Title"] = "Documentation";
}
<section class="doc-section">
    <div class="section-block">
        <h1 class="doc-title" id="documentation">
            Documentation
        </h1>
    </div>
    
    <div class="section-block">
        <markdown file="translation.md"></markdown>
    </div>
    
    <div class="section-block">
        <markdown file="compatibility.md"></markdown>
        <markdown file="compat-string.md"></markdown>
        <markdown file="compat-regex.md"></markdown>
    </div>
</section>