<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dryv - DRY Validation for ASP.NET</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="DRY Validation for ASP.NET">
    <meta name="author" content="Munir Husseini">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <link rel="shortcut icon" href="~/favicon.ico">
    <!-- Global CSS -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="~/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="~/plugins/elegant_font/css/style.css">
    <link rel="stylesheet" href="~/plugins/prism/prism.css">

    <!-- Theme CSS -->
    <link id="theme-style" rel="stylesheet" href="~/css/styles.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="body-primary">
    <div class="page-wrapper">
        <!-- ******Header****** -->
        @*<div class="social-container dev-links">
                <a href="https://github.com/mhusseini/Dryv">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://www.nuget.org/packages?q=dryv">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <img src="/images/nuget.svg" class="fa-stack-1x " />
                    </span>
                </a>
                <a href="https://www.npmjs.com/package/dryv-jquery-unobtrusive">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <img src="/images/npm.svg" class="fa-stack-1x " />
                    </span>
                </a>
            </div>*@
        <header id="header" class="header">
            <div class="row container">
                <div class="branding col-xs-3">
                    <h1 class="logo">
                        <a asp-controller="Home" asp-action="Index">
                            <img class="logo_small" src="/images/logo.svg" />
                        </a>
                    </h1>
                </div><!--//branding-->

                <div class="dev-links col-xs-9">
                    <span class="pull-right">
                        <a href="https://github.com/mhusseini/Dryv">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <a href="https://www.nuget.org/packages?q=dryv">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img src="/images/nuget.svg" class="fa-stack-1x " />
                            </span>
                        </a>
                        <a href="https://www.npmjs.com/package/dryv-jquery-unobtrusive">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <img src="/images/npm.svg" class="fa-stack-1x " />
                            </span>
                        </a>
                    </span>
                </div>

                <div class="col-xs-12">
                    <ol class="breadcrumb">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="active">@this.ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </header><!--//header-->


        <div class="doc-wrapper">
            <div class="container">
                <div class="doc-body">
                    <div class="doc-content">
                        <div class="content-inner">
                            @RenderBody()
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix"></ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                </div><!--//doc-body-->
            </div><!--//container-->
        </div><!--//doc-wrapper-->
    </div>
    <footer class="footer text-center">
        <div class="container">
            <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
            <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com/" target="_blank">Xiaoying Riley</a> for developers</small>

        </div><!--//container-->
    </footer><!--//footer-->
    <!-- Main Javascript -->
    <script type="text/javascript" src="~/plugins/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/plugins/jquery-match-height/jquery.matchHeight-min.js"></script>
    <script type="text/javascript" src="~/plugins/prism/prism.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>

    <!-- JavaScript needed for validation -->
    <script src="~/plugins/jquery/jquery.validate.js"></script>
    <script src="~/plugins/jquery/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/dryv-jquery-unobtrusive.browser.min.js"></script>
    <script src="~/js/menu.js"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
