<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Resume - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="~/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="~/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/css/resume.css" rel="stylesheet">
    <link href="~/css/prism.css" rel="stylesheet">

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-nav" data-offset="50">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">
                <img class="img-fluid mx-auto mb-2" src="images/logo.svg" alt="" style="height: 3em">
            </span>
            <span class="d-none d-lg-block">
                <img class="img-fluid mx-auto mb-2" src="images/logo.svg" alt="">
            </span>
        </a>
        <ul class="list-inline list-social-icons mb-0">

            <li class="list-inline-item">
                <a href="https://github.com/mhusseini/Dryv">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>

            <li class="list-inline-item">
                <a href="https://www.nuget.org/packages/Dryv/">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <img src="images/nuget.svg" class="fa-stack-1x " />
                    </span>
                </a>
            </li>


            <li class="list-inline-item">
                <a href="https://www.npmjs.com/package/dryv-jquery-unobtrusive">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <img src="images/npm.svg" class="fa-stack-1x " />
                    </span>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @Html.Partial("Nav")
        </div>

    </nav>

    <div class="container-fluid p-0" id="main">
        @RenderBody()
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/resume.min.js"></script>
    <script src="~/js/prism.js"></script>
    <script src="~/js/dryv-jquery-unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        $(document).ready(function () {
            var ils = $("h2", $("#main")).map(function (i, e) {
                var $e = $(e);
                var caption = $e.text().trim().replace(/\s{2,}/g, " ");
                if (caption) {
                    var id = $e.attr("id");
                    return '<li class="nav-item"><a class="nav-link js-scroll-trigger" href="#' + id + '">' + caption + '</a></li>';
                }
            }).toArray();

            if (ils.length) {
                var ul = $('<ul class="navbar-nav">' + ils.join("") + "</ul>");
                var active = $("a.nav-link.active");
                ul.insertAfter(active);
            }
        });
    </script>
</body>

</html>
