@model Dryv.Demo.Nav.NavStructure
<div class="bd-toc-item">
    @if (this.Model.IsActive)
    {
        <a class="bd-toc-link active js-scroll-trigger"
           href="#@this.Model.Caption.ToLower().Replace(" ", "-")">@this.Model.Caption</a>
    }
    else
    {
        <a class="bd-toc-link js-scroll-trigger"
           asp-action="@this.Model.Action"
           asp-controller="@this.Model.Controller">@this.Model.Caption</a>
    }
</div>
