@using Dryv.SampleVue.Models
@namespace Dryv.SampleVue

@model HomeModel

<html>
<head>
    <title>Form validation with VueJS and Dryv.</title>
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;700&family=Roboto:wght@300&display=swap" rel="stylesheet" />
</head>
<body>
    <dryv-client-rules name="demo-form" />

    <div id="app" v-dryv-set="{ name: 'demo-form', path: 'model' }">
        <h1>Form validation with Vue.js and Dryv.</h1>
        <form v-on:submit="validateForm" method="post">
            <div class="form-content">
                <div class="form-block">
                    <h3>Personal Data</h3>

                    <dryv-group>
                        <div slot-scope="{errors, warnings}">
                            <form-input label="First name" v-model="model.person.firstName"></form-input>
                            <form-input label="Last name" v-model="model.person.lastName"></form-input>

                            <div v-for="text in errors" :key="text" class="form-item-error">{{text}}</div>
                            <div v-for="text in warnings" :key="text" class="form-item-warning">{{text}}</div>
                        </div>
                    </dryv-group>
                </div>

                <div class="form-block">
                    <h3>Shipping Address</h3>

                    <dryv-group>
                        <div slot-scope="{errors, warnings}">
                            <form-input label="ZIP code" v-model="model.shippingAddress.zipCode"></form-input>
                            <form-input label="City" v-model="model.shippingAddress.city"></form-input>

                            <div v-for="text in errors" :key="text" class="form-item-error">{{text}}</div>
                            <div v-for="text in warnings" :key="text" class="form-item-warning">{{text}}</div>
                        </div>
                    </dryv-group>
                </div>
                <div class="form-block">
                    <h3>Billing Address</h3>

                    <div class="form-item">
                        <label for="billingAddress-deactivate">Billing address equals shipping address.</label>
                        <input id="billingAddress-deactivate" type="checkbox" v-model="model.billingEqualsShipping" />
                    </div>

                    <div v-show="!model.billingEqualsShipping">
                        <dryv-group>
                            <div slot-scope="{errors, warnings}">
                                <form-input label="ZIP code" v-model="model.billingAddress.zipCode"></form-input>
                                <form-input label="City" v-model="model.billingAddress.city"></form-input>

                                <div v-for="text in errors" :key="text" class="form-item-error">{{text}}</div>
                                <div v-for="text in warnings" :key="text" class="form-item-warning">{{text}}</div>
                            </div>
                        </dryv-group>
                    </div>
                </div>

            </div>
            <div class="form-block">
                <input type="submit" value="Submit" />

                <div v-if="isValid === true" class="validation-feedback" style="background-color: lightgreen">
                    Valid
                </div>

                <div v-if="isValid === false" class="validation-feedback" style="background-color: #F88C30">
                    Invalid
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript" src="~/main.js"></script>
</body>
</html>