@using DryvDemo.Areas.Examples.Controllers
@model DryvDemo.Areas.Examples.Models.Model4
@{
    Layout = null;
}
<div class="alert alert-info" role="alert">
    <form id="form4" action="@Url.Action(nameof(ExamplesController.Example4), "Examples")" onsubmit="return sendForm(this)" method="post">
        <div class="form-group row">
            @Html.LabelFor(m => m.Company, new { @class = "col-sm-2 col-form-label" })
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.Company, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Company)
            </div>
        </div>

        <button class="btn btn-primary">Send</button>
        <button type="button" class="btn btn-primary" onclick="return sendForm(this)">Send w/o client validation</button>
    </form>
</div>