@model Dryv.Demo.Models.Customer



<section class="resume-section p-3 p-lg-5 d-flex flex-column">
    <div class="my-auto">
        <h1 class="mb-0 text-primary">Extending Dryv</h1>
    </div>
</section>