@using Dryv
@using Dryv.Utils
@model DryvDemo.ViewModels.HomeViewModel

<html>
<head>
</head>
<body>
    <form method="post">
        <div>
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Company"></label>
            <input type="text" asp-for="Company" />
            <span asp-validation-for="Company"></span>
        </div>
        <div>
            <label asp-for="TaxId"></label>
            <input type="text" asp-for="TaxId" />
            <span asp-validation-for="TaxId"></span>
        </div>

        <div>
            <label asp-for="IsAddressVisible"></label>
            <input type="checkbox" asp-for="IsAddressVisible" />
        </div>

        <div>
            <label asp-for="PostalCode"></label>
            <input type="text" asp-for="PostalCode" />
            <span asp-validation-for="PostalCode"></span>
        </div>
        <div>
            <label asp-for="City"></label>
            <input type="text" asp-for="City" />
            <span asp-validation-for="City"></span>
        </div>

        <button type="submit">Absenden</button>
    </form>

    <dryv-script />

    <script type="text/javascript" src="~/js/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/js/dryv-jquery-unobtrusive.browser.js"></script>
</body>
</html>