@using Dryv
@using Dryv.Utils
@model DryvDemo.ViewModels.HomeViewModel

<html>
<head>
</head>
<body>
    <form method="post">
        <div>
            <label></label>
            <input type="text" />
        </div>
        <div>
            <label></label>
            <input type="text" />
        </div>
        <div>
            <label></label>
            <input type="text" />
        </div>

        <div>
            <label></label>
            <input type="checkbox" />
        </div>

        <div>
            <label></label>
            <input type="text" />
        </div>
        <div>
            <label></label>
            <input type="text" />
        </div>

        <button type="submit">Absenden</button>
    </form>

    <script>
    var validation = {
        @Html.Raw(string.Join(",\n", from val in Html.GetDryvClientValidation()
                                     let field = val.Property.Name.ToCamelCase()
                                     select  $"{field}: {val.ValidationFunction}"))
    };
    </script>
</body>
</html>