@{
    this.ViewData["Title"] = "Getting Started";
}

<cache>
    <section class="doc-section">
        <h1>Getting Started</h1>
        <markdown file="introduction.md"></markdown>
    </section>
</cache>