@{
    this.ViewData["Title"] = "Getting Started";
}

<cache>
    <section class="doc-section">
        <div class="section-block">
            <h1>Getting Started</h1>
        </div>
        <div class="section-block">
            <markdown file="introduction.md"></markdown>
        </div>
    </section>
</cache>