@model Dryv.Demo.Models.Customer
<cache>
    <section class="resume-section p-3 p-lg-5 d-flex d-column">
        <div class="my-auto">
            <markdown file="introduction.md"></markdown>
        </div>
    </section>
</cache>