@model Dryv.Demo.Models.HomeViewModel

<form method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Age"></label>
    <input asp-for="Age" />
    <span asp-validation-for="Age"></span>

    <label asp-for="Email"></label>
    <input asp-for="Email" />
    <span asp-validation-for="Email"></span>

    <label asp-for="ParentsEmail"></label>
    <input asp-for="ParentsEmail" />
    <span asp-validation-for="ParentsEmail"></span>

    <input type="submit" />
</form>