@model Dryv.Demo.Models.HomeViewModel

<form method="post">
    <p>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </p>

    <p>
        <label asp-for="Age"></label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </p>

    <p>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </p>

    <p>
        <label asp-for="ParentsEmail"></label>
        <input asp-for="ParentsEmail" />
        <span asp-validation-for="ParentsEmail"></span>
    </p>

    <input type="submit" />
</form>