@model Dryv.Demo.Models.HomeViewModel

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">
            Introducing <span class="text-primary">Dryv</span>
        </h1>
        <cache>
            <div>
                <markdown file="introduction.md"></markdown>
            </div>
        </cache>
    </div>

</section>

<section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
        <h1 class="mb-0">
            Using
            <span class="text-primary">Dryv</span>
        </h1>
        <div class="subheading mb-5">
            3542 Berry Street · Cheyenne Wells, CO 80810 · (317) 585-8468 ·
            <a href="mailto:name@email.com">name@email.com</a>
        </div>
        <p class="mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
        <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="#">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
        <h2 class="mb-5">Experience</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company"></label>
                <input asp-for="Company" class="form-control">
                <span asp-validation-for="Company"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaxId"></label>
                <input asp-for="TaxId" class="form-control">
                <span asp-validation-for="TaxId"></span>
            </div>

            <button type="submit" class="btn btn-primary"></button>
        </form>

    </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">University of Colorado Boulder</h3>
                <div class="subheading mb-3">Bachelor of Science</div>
                <div>Computer Science - Web Development Track</div>
                <p>GPA: 3.23</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">August 2006 - May 2010</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
                <h3 class="mb-0">James Buchanan High School</h3>
                <div class="subheading mb-3">Technology Magnet Program</div>
                <p>GPA: 3.56</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">August 2002 - May 2006</span>
            </div>
        </div>

    </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline list-icons">
            <li class="list-inline-item">
                <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-sass"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-less"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-wordpress"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-grunt"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-gulp"></i>
            </li>
            <li class="list-inline-item">
                <i class="devicons devicons-npm"></i>
            </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-check"></i>
                Mobile-First, Responsive Design
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Cross Browser Testing &amp; Debugging
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Cross Functional Teams
            </li>
            <li>
                <i class="fa-li fa fa-check"></i>
                Agile Development &amp; Scrum
            </li>
        </ul>
    </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I am an avid skiier and novice ice climber. During the warmer months here in Colorado, I enjoy mountain biking, free climbing, and kayaking.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I am an aspiring chef, and I spend a large amount of my free time exploring the latest technolgy advancements in the front-end web development world.</p>
    </div>
</section>

<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Google Analytics Certified Developer
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                Mobile Web Specialist - Google Certification
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                1<sup>st</sup>
                Place - University of Colorado Boulder - Emerging Tech Competition 2009
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                1<sup>st</sup>
                Place - University of Colorado Boulder - Adobe Creative Jam 2008 (UI Design Category)
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                2<sup>nd</sup>
                Place - University of Colorado Boulder - Emerging Tech Competition 2008
            </li>
            <li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                1<sup>st</sup>
                Place - James Buchanan High School - Hackathon 2006
            </li>
            <li>
                <i class="fa-li fa fa-trophy text-warning"></i>
                3<sup>rd</sup>
                Place - James Buchanan High School - Hackathon 2005
            </li>
        </ul>
    </div>
</section>